#index-banner.parallax-container.main-bg.dark
  .section.no-pad-bot
    .container
      h1.header.center.white-text Interactive Banking Solutions
      .row.center
        h5.header.col.s12.light Modern Tools and Workflows for Financial Industry
      .row.center
        a.btn-large.waves-effect.waves-light.pink.lighten-2(href="#contact") Contact Us

.container-fluid.grey.lighten-4
  .section
    .container
      .row
        .col.s12.center
          h4.light  Products and Services
      .row
        .col.s12.m4.center
          .icon-block
            h2.center
              i.material-icons.large.orange-text.text-darken-3 phonelink_ring
            h5 Branchless Banking
            p.light.left Technology drives innovation ,transforming entities into global players. With our expertise in implementing various Core Banking  Systems, we can help Banks in transforming from existing platforms to New CBS systems.
        .col.s12.m4.center
          .icon-block
            h2.center
              i.material-icons.large.green-text.text-darken-3 album
            h5  Core Banking
            p.light.left We help banks implement new features to their existing core banking solutions including transition for branchless banking considered to be the hallmark of core banking in modern financial industry.
        .col.s12.m4.center
          .icon-block
            h2.center
              i.material-icons.large.blue-text.text-darken-3 pageview
            h5 Application Monitoring
            p.light.left We have expertise to develop and implement application monitoring tools especially Retail/Corporate  Net Banking, monitoring application up time, various process consuming high memory on JVM.
       .row
        .col.s12.m4.center
          .icon-block
            h2.center
              i.material-icons.large.pink-text settings_remote
            h5 ATM Simulator
            p.light.left ATM simulator simulates the messages in real time scenario by pumping different ISO messages such as cash deposit, cash withdrawal, balance enquiry to Core Banking System in testing environment.
        .col.s12.m4.center
          .icon-block
            h2.center
              i.material-icons.large.blue-grey-text restore
            h5  GL Reconciliation
            p.light.left We have expertise to understand the existing GL framework of the financial institution, based on which we can develop the reports to identify the root cause of the suspense generation during the batch processes.
        .col.s12.m4.center
          .icon-block
            h2.center
              i.material-icons.large.brown-text spellcheck
            h5 Application Testing
            p.light.left At Harpoon Systmes, we have a dedicated team for defining, designing and implementing the testing  matrix covering both technical and functional aspects of the various financial applications of banks.

      .row
        .col.s12.m4.center
          .icon-block
            h2.center
              i.material-icons.large.purple-text.text-darken-3 settings_input_component
            h5 Connectors
            p.light.left We have expertise to develop customised Mobile banking application interacting with the Core system and connect with various entities while on move, helping banks to cater to requirements of new age customers.
        .col.s12.m4.center
          .icon-block
            h2.center
              i.material-icons.large.pink-text.text-darken-3 person_pin
            h5  ID Management
            p.light.left We offer providing resources helping banks creating IDs for various applications and, implement SSO and integrated ID management solutions.
        .col.s12.m4.center
          .icon-block
            h2.center
              i.material-icons.large.amber-text.text-darken-3 description
            h5 Reporting
            p.light.left We help you generate custom reports which can be integrated with GL reconciliation as needed. We use state of the art visualization frameworks to help make sense of all the data and insights.

.container-fluid
  .section
    .container
      .row
        .col.s12.center
          h4.light  Harpoon Systems
          p.left We as partner understand the intersection of business and technology. At Harpoon, we deliver the best business outcome by  understanding the existing business processes and redefining, redesigning and remodelling the same. We have more than 12+ years of experience in digital industry, the know-how and proficiency in business automation. Having worked with some of the best in the industry and developed unique products and innovations, has given us the skill to perform better and is the foundation of our entrepreneurial spirit.
      .row
        .col.s12.center
            iframe(width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=14&center=32.7034,74.8609&key=AIzaSyD4_OFJSvTV1pP59pF0iOurxgHelCTmFpQ")
      .row.hide
        .col.s12.m3.center
          p
        .col.s12.m3.center
          .icon-block
            h2.center
              img.circle(src="http://placehold.it/150x150")
            h5 Manu Procha
            p.light
        .col.s12.m3.center
          .icon-block
            h2.center
              img.circle(src="http://placehold.it/150x150")
            h5 Shirish Goyal
            p.light
        .col.s12.m3.center
          p
