#index-banner.parallax-container.main-bg.dark
  .section.no-pad-bot
    .container
      h1.header.center.white-text Interactive Banking Solutions
      .row.center
        h5.header.col.s12.light Modern Tools and Workflows for Financial Industry
      .row.center
        a.btn-large.waves-effect.waves-light.pink.lighten-2(href="#get-started") Get Started

.container-fluid.blue.lighten-5
  .section
    .container
      .row
        .col.s12.m4.center
          .icon-block
            h2.center
              i.material-icons.large.orange-text.text-darken-3 phonelink_ring
            h5 Branchless Banking
            p.light
        .col.s12.m4.center
          .icon-block
            h2.center
              i.material-icons.large.green-text.text-darken-3 album
            h5  Core Banking
            p.light
        .col.s12.m4.center
          .icon-block
            h2.center
              i.material-icons.large.blue-text.text-darken-3 pageview
            h5 Application Monitoring
            p.light
      .row
        .col.s12.m4.center
          .icon-block
            h2.center
              i.material-icons.large.purple-text.text-darken-3 settings_input_component
            h5 Connectorsygdrtydr
            p.light
        .col.s12.m4.center
          .icon-block
            h2.center
              i.material-icons.large.pink-text.text-darken-3 person_pin
            h5  ID Management
            p.light
        .col.s12.m4.center
          .icon-block
            h2.center
              i.material-icons.large.amber-text.text-darken-3 description
            h5 Reporting
            p.light

.container-fluid
  .section
    .container
      .row
        .col.s12.center
          h3.light  Meet Our Team
      .row
        .col.s12.m3.center
          p
        .col.s12.m3.center
          .icon-block
            h2.center
              img.circle(src="http://placehold.it/150x150")
            h5 Manu Procha
            p.light
        .col.s12.m3.center
          .icon-block
            h2.center
              img.circle(src="http://placehold.it/150x150")
            h5 Shirish Goyal
            p.light
        .col.s12.m3.center
          p
