#index-banner.parallax-container.main-bg
  .section.no-pad-bot
    .container
      h1.header.center.white-text Interactive Banking Solutions
      .row.center
        h5.header.col.s12.light Modern Tools and Workflows for Financial Industry
      .row.center
        a.btn-large.waves-effect.waves-light.red.lighten-2(href="#get-started") Get Started
